/* General Styles */
body {
	color: #e3e3e3;
	margin: 0;
	font-family: 'Amatic SC', cursive;
	font-size: 20px;
	letter-spacing: 0.05em;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

h1 {
	margin: 0;
}

/* Page Styles */
.container {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.background {
	background: url("../imgs/background.png") no-repeat;
	width: 100%;
	height: 100%;
	background-size: cover;
	position: absolute;
	z-index: -1;
	background-color: #3c1b35;
}

/* Card Styles */
.card {
	width: 300px;
	height: 450px;
	/*border: 0.8px solid #efd242;*/
	border: 4px solid red;
	position: relative;
}

.card::before {
	content: "";
	background: black;
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0.5;
	z-index: -1;
	
}

.card .planet_name, .card .planet_img_container {
	text-align: center;
}

.card .planet_name {
	padding-bottom: 15px;
	letter-spacing: 0.1em;
	font-size: 2em;
}

.card .planet_img {
	/*width: 100px;*/
	width: 40%;
	height: auto;
}

.card ul {
	font-size: 1.5em;
	margin-top: 0.25em;
	font-weight: normal;
	padding: 5px 10px;
}

.card ul span {
	color: #efd242;
	font-weight: bold;
}

/* Navigation Styles */
.button {
	width: 40px;
	height: 40px;
	/*background-color: yellow;*/
	position: absolute;
	transform: rotate(45deg);
	border-color: pink;
	border-width: 10px;
	cursor: pointer;
}

.button#button_left {
	left: 15px;
	border-bottom-style: solid;
	border-left-style: solid;

}

.button#button_right {
	right: 15px;
	border-top-style: solid;
	border-right-style: solid;
}

.nav_links_container {
	margin-top: 20px;
	background-color: black;
	color: white;
	padding: 5px;
	display: flex;
}

.nav_links_container span {
	width: 15px;
	height: 15px;
	display: block;
	background-color: white;
	border-radius: 50%;
	margin: 5px;
	cursor: pointer;
}